* {
    box-sizing: border-box;
}

body, html {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logout {
    position: fixed;
    right: 20px;
    top: 10px;
}